html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#message-pane {

    background-image: url(https://res.cloudinary.com/teepublic/image/private/s--Uzl_Sxjs--/t_Preview/b_rgb:191919,c_lpad,f_jpg,h_630,q_90,w_1200/v1478426587/production/designs/776204_1.jpg);
    background-color: #339fc6;
    background-position: center center;
}

#form-card {
    margin: 0px;
    background-color: #e5d3d4;
}

.material-icons {
    font-size: 50px !important;
}

.message-card {
    max-width: 75%;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
}